{include file="../../../application/admin/view/public/head" /}

<style>
    .deeppink{color:deeppink;}
</style>
<div class="page-container p20">
    <?php $pass="<strong class='green'>√</strong>";$error="<strong class='red'>×</strong>";?>

    <blockquote class="layui-elem-quote wn_copyright_text">
        <p>歡迎使用 <a target="_blank" href="https://t.me/AKG_Group">AKG網站搭建服務</a></p>
    </blockquote>
    <table class="layui-table wn_copyright_text" style="margin-top: 20px">
        <colgroup>
            <col width="150">
            <col width="250">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th colspan="1" scope="col">項目</th>
                <th colspan="1" scope="col">說明</th>
                <th colspan="2" scope="col">備註</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>作者</td>
                <td><a target="_blank" href="https://t.me/AKG_Group">AKG</a></td>
                <td>Telegram<a href="https://t.me/AKG_Group" target="_blank" style="color: rgb(71, 129, 216);"> @AKG_Group</a></td>
            </tr>
            <tr>
                <td>服務</td>
                <td>網站搭建, 開發, 采集</td>
                <td colspan="2"><a  target="_blank">專業開發超過10年</a></td>
            </tr>
            <tr>
                <td>內核系統</td>
                <td>Maccms v10</td>
                <td colspan="2"><a href="https://t.me/AKG_Group" target="_blank">v2024.1000.4030</a></td>
            </tr>
            <tr>
                <td></td>
                <td>二次開發版本</td>
                <td colspan="2"><a href="https://t.me/AKG_Group" target="_blank">v3.1</a></td>
            </tr>
        </tbody>
    </table>
  
</div>
{include file="../../../application/admin/view/public/foot" /}
</body>
</html>