<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{$title} - {:lang('admin/public/head/title')}</title>
        <link rel="stylesheet" href="__STATIC__/layui/css/layui.css?v={:time()}">
        <link rel="stylesheet" href="__STATIC__/css/admin_style.css?v={:time()}">
        <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
        <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
        <script>
            var ROOT_PATH = "__ROOT__", ADMIN_PATH = "{$_SERVER['SCRIPT_NAME']}", MAC_VERSION = "v10";
        </script>
        <style> 
            .wn_copyright_off .wn_copyright_text{display: none !important;}
            .wn_copyright_off .wn_copyright_img{display: none !important;}
            .wn_copyright_off .wn_copyright_bg{background:none !important;}
            .wn_copyright_off [href="/t.me/AKG_Group/"] {display: none !important;}
        </style>
    </head>

    <body class="wn_copyright_on">