/* Spaceing */
.mb-1{margin-bottom: 10px;}
.mb-2{margin-bottom: 20px;}
.mb-3{margin-bottom: 30px;}
.mb-4{margin-bottom: 40px;}
.mb-5{margin-bottom: 50px;}
.mt-1{margin-top: 10px;}
.mt-2{margin-top: 20px;}
.mt-3{margin-top: 30px;}
.mt-4{margin-top: 40px;}
.mt-5{margin-top: 50px;}
.my-1{margin-top: 10px;margin-bottom: 10px;}
.my-2{margin-top: 20px;margin-bottom: 20px;}
.my-3{margin-top: 30px;margin-bottom: 30px;}
.my-4{margin-top: 40px;margin-bottom: 40px;}
.my-5{margin-top: 50px;margin-bottom: 50px;}
.mx-1{margin-left: 10px;margin-right: 10px;}
.mx-2{margin-left: 20px;margin-right: 20px;}
.mx-3{margin-left: 30px;margin-right: 30px;}
.mx-4{margin-left: 40px;margin-right: 40px;}
.mx-5{margin-left: 50px;margin-right: 50px;}
.m-auto{margin: auto;}
.mx-auto{margin-left: auto;margin-right: auto;}
.p-1{padding: 10px;}
.p-2{padding: 20px;}
.p-3{padding: 30px;}
.p-4{padding: 40px;}
.p-5{padding: 50px;}
.h-100{height: 100% !important;}
.w-50{width: 50% !important;}
.w-100{width: 100% !important;}
.col-1-5{width: 20%;float: left;position: relative;display: block;box-sizing: border-box;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.index-grid-image{width: 100px;}
.type-text{font-size: 12px;}
.ads{overflow: hidden;position: relative;z-index: 0;}
.fw-bold{font-weight: bold;}

/* Edit */
.page-tags-box>*>*{padding: 0 10px;}
@media screen and (max-width: 920px){.index-grid-image{width: 70px;}}

/* Swiper */
.swiper{width: 100%;height: 100%;}
.rounded{border-radius: 5px;overflow: hidden;}
.swiper-ads .swiper-slide{margin-top: 10px;margin-bottom: 20px;-webkit-transform: translate3d(0, 0, 0);}
.swiper-ads .swiper-slide img{object-fit: cover;width: 100%;height: 100%;}

/* Ads */
.square_300{display: block;width: 300px;height: 300px;}
.ads_300_100{width: 300px;height: 100px;}
.ads_300_250{width: 300px;height: 250px;}
.ads_728_90{width: 728px;height: 90px;}

.wn_banner{
    width: var(--wn-banner-container-max-width, 1400px);
    max-width: 100%;
    margin:10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wn_banner a{
    width: 50%;
}

.wn_banner_column_1 .wn_banner a{
    width: 100%;
}

.wn_banner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}



@media screen and (max-width:768px){
    .wn_banner a{width: 100%;}
}

/*  */
.of-cover{object-fit: cover !important;background-size: cover !important;width: 100%;height: 100%;}
.of-contain{object-fit: contain !important;background-size: contain !important;width: 100%;height: 100%;}
.overflow-hidden{overflow: hidden !important;}

/* reponsive */
@media all and (min-width:768px) and (max-width: 9999px){
    .mobile-only{display: none;}
    .desktop-only{display: block;}
}

@media all and (min-width:0px) and (max-width: 768px){
    .mobile-only{display: block;}
    .desktop-only{display: none;}
}