<!-- intro v1.0.1 -->
<blockquote class="layui-elem-quote wn_copyright_text">
    <p>欢迎使用 <a target="_blank" href="https://t.me/AKG_Group">AKG网站搭建服务</a></p>
</blockquote>
<table class="layui-table wn_copyright_text" style="margin-top: 20px">
    <colgroup>
        <col width="110">
        <col width="250">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th colspan="1" scope="col">项目</th>
            <th colspan="1" scope="col">说明</th>
            <th colspan="1" scope="col">备注</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>模板名称</td>
            <td>AKG模版 ({$tid})</td>
            <td><a href="https://t.me/AKG_Group/category/maccms%E6%A8%A1%E7%89%88/" target="_blank" style="color: deeppink;">查看更多模版</a></td>
        </tr>
        <tr>
            <td>适用系统</td>
            <td>Maccms v10</td>
            <td><a href="https://t.me/AKG_Group" target="_blank" style="color: deeppink;">一站式搭建服务</a></td>
        </tr>
        <tr>
            <td>作者</td>
            <td><a target="_blank" href="https://t.me/AKG_Group">AKG</a></td>
            <td>Telegram<a href="https://t.me/AKG_Group" target="_blank" style="color: rgb(71, 129, 216);"> @AKG_Group</a></td>
        </tr>

    </tbody>
</table>